In [1]:
import numpy as np
import pandas as pd

In [3]:
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn import ensemble
from sklearn import metrics

In [11]:
df= pd.read_csv('C:/Users/rtfly/Documents/HDip/Web_DataMining/HR.csv')
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

### After importing packages and data, first step is to convert the categorical variables to dummy variables

In [12]:
df = pd.get_dummies(df)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept_IT,dept_RandD,...,dept_hr,dept_management,dept_marketing,dept_product_mng,dept_sales,dept_support,dept_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.80,0.86,5,262,6,0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.11,0.88,7,272,4,0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.72,0.87,5,223,5,0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.37,0.52,2,159,3,0,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### A copy is made for reusability in the next algorithm

In [13]:
df_rf = df.copy()

### A training:testing ratio of 80:20 is chosen for the Random Forest classifier

In [14]:
from sklearn.model_selection import train_test_split
target = df_rf.pop('left')
train_features, test_features, train_labels, test_labels = train_test_split(df_rf, target, test_size=0.2)

In [15]:
rf = RandomForestClassifier(n_estimators=500, max_depth = 5, random_state=0).fit(train_features, train_labels)

### Two test systems show the strength of its predictive ability. 9 in 10 is not bad!

In [16]:
rf_train_score = rf.score(train_features, train_labels)
print("Training score: ",rf_train_score)
rf_train_score = rf.score(test_features, test_labels)
print("Test score: ",rf_train_score)

Training score:  0.922493541128
Test score:  0.921666666667

In [17]:
x = test_features.head(10)    
y = test_labels.head(10)  
for i in range(10):
    pred = rf.predict([x.iloc[i]])
    pred = pred[0]
    print("Prediction: {} - Real value: {}".format(pred, y.iloc[i]))

Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 0
Prediction: 1 - Real value: 1
Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 1
Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 0
Prediction: 0 - Real value: 0

### The same process is repeated to see if satisfaction level can be predicted using linear regression...

In [19]:
df_reg = df.copy()

In [20]:
target = df_reg.pop('satisfaction_level')
train_features, test_features, train_labels, test_labels = train_test_split(df_reg, target, test_size=0.2)

In [21]:
reg = linear_model.LinearRegression().fit(train_features, train_labels)

### ... it can not!

In [22]:
reg_score_train = reg.score(train_features, train_labels)
print("Training score: ",reg_score_train)
reg_score_test = reg.score(test_features, test_labels)
print("Testing score: ",reg_score_test)

Training score:  0.194955118251
Testing score:  0.2130871506

In [23]:
x = test_features.head(10)    
y = test_labels.head(10)  
for i in range(10):
    pred = reg.predict([x.iloc[i]])
    pred = pred[0]
    print("Prediction: {} - Real value: {}".format(pred, y.iloc[i]))

Prediction: 0.7009181023750373 - Real value: 0.96
Prediction: 0.6579569673647185 - Real value: 0.92
Prediction: 0.7200454255811601 - Real value: 0.65
Prediction: 0.6795078989526381 - Real value: 0.92
Prediction: 0.6634836120537327 - Real value: 0.91
Prediction: 0.6782785918835854 - Real value: 0.69
Prediction: 0.7229895436087896 - Real value: 0.73
Prediction: 0.7341727095973357 - Real value: 0.55
Prediction: 0.6807339308596608 - Real value: 0.96
Prediction: 0.7245379991787388 - Real value: 0.88

In [ ]:
from sklearn.metrics import roc_auc_score, roc_curve, log_loss, confusion_matrix